/* Reset básico */
body, h1, h2, h3, h4, p, input, label, fieldset, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f9; /* Color claro para contraste */
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    background: #006479; /* color5 */
    color: #fff;
    padding: 15px 0;
    margin-bottom: 20px;
    border-radius: 15px;
}

header h1 {
    font-size: 2.5rem;
    color: #dff1f5; /* color1 */
}

main {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

fieldset {
    border: 1px solid #0b768b; /* color4 */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #f9f9f9;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #2caac1; /* color1 */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0b768b; /* color4 */
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2199af; /* color2 */
    border-radius: 4px;
    color: #333;
}

input[type="submit"] {
    background: #2199af; /* color2 */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #16879d; /* color3 */
}

h3, h4, p {
    margin-bottom: 15px;
    color: #006479; /* color5 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background: #2199af; /* color2 */
    color: #fff;
}
